{% extends 'base.html' %}

{% block page_heading %}Login{% endblock %}

{% block content %}

{% if next %}
  {% if user.is_authenticated %}
    <p>User account doesn't have access to this page</p>
  {% else $}
    <p>Please login to see this page</p>
  {% endif %}
{% endif %}

<form method='post' action="{% url 'login' %}">
  {% csrf_token %} 
  <div class="row mb-3">
    <div class="col-5">
      {% include 'form_snippet.html' %}
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  <input type="hidden" name="next" value='{{ next }}'>
</form>
{% endblock %}