{% extends 'base.html' %}

{% block page_heading %}Library Application{% endblock %}

{% block title %}
<title>Home Page | Library App</title>
{% endblock %}

{% block content %}
<p>
  Welcome to the Library Application developed by Bailey Armitage.
  <br>
  For more info on this project click <a href="https://github.com/rexbrandy/library_app">Here</a>
</p>
<h2>Library Contents</h2>
<p>
  This library contains the following:
</p>
<ul>
  <li>Unique Books: {{ num_books }}</li>
  <li>Total Books: {{ num_copies }}</li>
  <li>Available Books: {{ num_avail }}</li>
  <li>Authors: {{ num_authors }}</li>
</ul>
{% endblock %}