{% extends 'base.html' %}

{% block page_heading %}All Loans{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Book</th>
      <th scope="col">Due back</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for loan in loan_list %}
    {% if loan.is_overdue %}
    <tr class="table-danger">
    {% else %}
    <tr>
    {% endif %}
      <td>{{ loan.user.username }}</td>
      <td>{{ loan.book_instance.book.title }}</td>
      <td>{{ loan.due_back }}</td>
      <td>
        <a class='btn btn-link ' href="{% url 'loan-renew' loan.id %}">Renew</a>
        <a class='btn btn-link ' href="{% url 'renew-loan-librarian' loan.id %}">Return</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}