{% extends 'base.html' %}

{% block page_heading %}Update Book{% endblock %}

{% block content %}
<div class="row">
  <div class="col-3">
    {% load static %}
    <img src="{% static 'assets/book_placeholder.png'%}" style="max-width: inherit;">
  </div>
  
  <div class="col-9">
    <form action="" method="post"  enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <div class="row mb-3">
        {% include 'form_snippet.html' %}
      </div>

      {% if book_instance_formset %}
      <div class="row">
        {% include 'catalog/book_instance_formset.html'%}
      </div>
      {% endif %}

    </form>
  </div>
</div>
{% endblock %}