{% extends 'base.html' %}

{% block page_heading %}Books{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    {% for book in book_list %}
    <hr/>
    <div class='row'>
      {% load static %}
      <div class="col-3">
        <a href="{{ book.get_absolute_url }}" style="max-width: inherit;"><img src="{% static 'assets/book_placeholder.png'%}" style="max-width: inherit;"></a>
      </div>
      <div class="col-9" style="display: flex; flex-direction: column; justify-content: space-between;">

        <div>
          <a href="{{ book.get_absolute_url }}" style="text-decoration: none; color: #000;"><strong>{{ book.title }}</strong></a>
          <span class="text-muted"><small>Genre: {{ book.genre.all|join:", " }}</small></span>
          <p>{{ book.summary}}</p>
          {% if book.copies_available > 0 %}
          <h6>Copies Available: {{ book.copies_available }}</h6>
          {% else %}
          <h6>No Copies Available</h6>
          {% endif %}
        </div>

        <div class="">
          <a href="#" class="btn btn-secondary">Add to wishlist</a>
          {% if perms.catalog.can_mark_returned %}
          <a href="{% url 'book-update' book.pk %}" class="btn btn-link">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>No Results</p>
    {% endfor %}
  </div>
</div>
{% endblock %}