<table class="table table-hover table-borderless caption-top" style="padding-left: 12;" id='bookInstanceTable'>
    <caption class="h5" style="font-weight: normal;">Book copies</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col" style="width: 30%;">Status</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id='bookInstanceTableBody'>
    {{ book_instance_formset.management_form }}
    {% load widget_tweaks %}
    {% for book_instance_form in book_instance_formset %}
    <tr id='book_instance_tr_{{ forloop.counter }}'>
        <td scope="row" class='book_instance_id_{{ forloop.counter }}'>
          {{ book_instance_form.id.value }}
        </th>
        <td>
          {% render_field book_instance_form.id hidden=True %}              
          {% if book_instance_form.status.value == 'o' %}
            {% render_field book_instance_form.status hidden=True %}              
            {% render_field book_instance_form.status class='form-control' disabled=True %}
          {% else %}
            {% render_field book_instance_form.status class='form-control' %}
          {% endif %}
        </td>
        <td style="vertical-align: middle; padding-left: 18px;" >
          {% if book_instance_formset.can_delete and book_instance_form.status.value != 'o'%}
            {% render_field book_instance_form.DELETE class='form-check-input' %}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td><button type="button" class="btn btn-link" onclick="addBookInstance({{ book.id }})">Add new row</button></td>
        <td></td>
        <td><input class="btn btn-primary" type="submit" value="Save changes"></td>
    </tr>
    </tfoot>
</table>

{% block scripts %}
<script>
  function addBookInstance(book_id) {
    let total_forms = document.getElementById('id_form-TOTAL_FORMS');
    let number_rows = parseInt(total_forms.value)-1;
    let row_number = parseInt(total_forms.value)+1;
    let id_number = total_forms.value;

    var new_book_id = getNewInstanceID(book_id);

    var my_table = document.getElementById('bookInstanceTableBody');

    var row = document.getElementById('book_instance_tr_'+total_forms.value).cloneNode(true);
    row.id = 'book_instance_tr_'+row_number;

    row.children[0].innerHTML = new_book_id;

    // update ids
    var id_1 = row.querySelector("#id_form-"+number_rows+"-id");
    id_1.id = "id_form-"+id_number+"-id";
    id_1.name = "form-"+id_number+"-id";
    id_1.value = new_book_id

    var id_2 = row.querySelector("#initial-form-"+number_rows+"-id_form-"+number_rows+"-id");
    id_2.id = "initial-form-"+id_number+"-id_form-"+id_number+"-id";
    id_2.name = "initial-form-"+id_number+"-id";

    // update status
    var status_dropdown = row.querySelector("#id_form-"+number_rows+"-status");
    status_dropdown.id = "id_form-"+id_number+"-status";
    status_dropdown.name = "form-"+id_number+"-status";

    // update delete
    var delete_button = row.querySelector("#id_form-"+number_rows+"-DELETE");
    delete_button.id = "id_form-"+id_number+"-DELETE";
    delete_button.name = "form-"+id_number+"-DELETE";
  
    my_table.appendChild(row);
    total_forms.value = row_number;
  }
  
  function getNewInstanceID(book_id) {
    var new_book_id;
    // ajax call to create new row in db and get uuid
    $.ajax({
      type: 'POST',
      async: false,
      url: "{% url 'book-instance-create' %}",
      data: {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
        'book_id': book_id
      },
      success: function(response){
        new_book_id = response.new_book_id;
      },
      error: function(response){
        console.log(response);
      },
    })

    return new_book_id;
  }
</script>
{% endblock %}