<table class="table table-hover table-borderless caption-top" style="padding-left: 12;" id='bookInstanceTable'>
    <caption class="h5" style="font-weight: normal;">Book copies</caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col" style="width: 30%;">Status</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id='bookInstanceTableBody'>
    {{ book_instance_formset.management_form }}
    {% load widget_tweaks %}
    {% for book_instance_form in book_instance_formset %}
    <tr id='book_instance_tr_{{ forloop.counter }}'>
        <th scope="row">
          {{ book_instance_form.id.value }}
          {% render_field book_instance_form.id hidden=True %}
        </th>
        <td>
                        
          {% if book_instance_form.status.value == 'o' %}
            {% render_field book_instance_form.status hidden=True %}              
            {% render_field book_instance_form.status class='form-control' disabled=True %}
          {% else %}
            {% render_field book_instance_form.status class='form-control' %}
          {% endif %}
        </td>
        <td style="vertical-align: middle; padding-left: 18px;" >
          {% if book_instance_formset.can_delete and book_instance_form.status.value != 'o'%}
            {% render_field book_instance_form.DELETE class='form-check-input' %}
          {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td><button type="button" class="btn btn-link" onclick="addBookInstance()">Add new row</button></td>
        <td></td>
        <td><input class="btn btn-primary" type="submit" value="Save changes"></td>
    </tr>
    </tfoot>
</table>

{% block scripts %}
<script>
  function addBookInstance() {
    let total_forms = document.getElementById('id_form-TOTAL_FORMS');
    let number_rows = parseInt(total_forms.value)-1
    

    let my_table = document.getElementById('bookInstanceTableBody');

    let row = document.getElementById('book_instance_tr_'+total_forms.value).cloneNode(true);
    my_table.appendChild(row)

    console.log(document.getElementById("id_form-"+number_rows+"-id"));

    // update ids - for some reason django renders 2 fields here
    let id1 = document.getElementById("id_form-"+number_rows+"-id");
    let id2 = document.getElementById("initial-form-"+number_rows+"-id_form-"+number_rows+"-id");

    // update status
    let status = document.getElementById("id_form-"+number_rows+"-status");

    // update delete
    let status = document.getElementById("id_form-"+number_rows+"-DELETE");

    


    /*
    console.log(total_forms.value)

    let row = my_table.insertRow(parseInt(total_forms.value)+1);

    let c1 = row.insertCell(0);
    let c2 = row.insertCell(1);
    let c3 = row.insertCell(2);

    c1.innerText = "test"
    c2.innerText = "test"
    c3.innerText = "test"

    total_forms.value = parseInt(total_forms.value)+1;
    */
  }

  function getBookInstanceData() {

  }

</script>
{% endblock %}