{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h1 class="display-1"><strong>Update Book</strong></h1>
  </div>
</div>
<div class="row">
  <div class="col-3">
    {% load static %}
    <img src="{% static 'assets/book_placeholder.png'%}" style="max-width: inherit;">
  </div>
  
  <div class="col-9">
    <form action="" method="post">
      {% include 'form_snippet.html' %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% for book_instance in book.bookinstance_set.all %}
    <p>{{ book_instance }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}