{% extends 'base.html' %}

{% block page_heading %}Return Loan{% endblock %}

{% block content %}
<div class="row">
  <div class="col-9">
    <p><strong>Book:</strong> <a class='link' href="{{ loan.book_instance.book.get_absolute_url }}">{{ loan.book_instance.book }}</a></p>
    <p><strong>Borrower:</strong> {{ loan.user.username }}</p>
    <p {% if loan.is_overdue %} class='text-danger' {% endif %}><strong>Due Date:</strong> {{ loan.due_back }}</p>

    <form action="" method='POST'>
      {% csrf_token %}
      {% include 'form_snippet.html' %}
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}