{% extends 'base.html' %}

{% block page_heading %}Create Loan{% endblock %}

{% block content %}
<div class="row">
  <div class="col-5">
    <div class="mb-3">
      <label for="user" class="form-label">Borrower</label>
      <input type="text" class="form-control" id="user_input" placeholder="Enter Username or ID" onchange="search_users()">
    </div>
    <div>

    </div>
  </div>
  <div class="col-5">

  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  function search_users(){
    var user_input = document.getElementById('user_input').serialize();

    $.ajax({
      type: 'POST',
      url: '{% url "ajax-users" }',
      data: user_input,
      success: function(e) {
        console.log(e);
      },
      error: function(e) {
        console.log(e);
      }
    })
  }
</script>
{% endblock %}