{% extends 'base.html' %}

{% block page_heading %}{{ user.username }}{% endblock %}

{% block content %}
{% if loan_list %}
<div class="row">
  <div class="col-9">
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col"><h5>Current Loans</h5></th>
          <th scope="col"><h6>Due back</h6></th>
        </tr>
      </thead>
      <tbody>
        {% for loan in loan_list %}
        {% if loan.is_overdue %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ loan.book_instance.book.title }}</td>
          <td>{{ loan.due_back }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<div class="row">
  <div class="col-9">
    <h2>No past loans</h2>
  </div>
</div>
{% endif %}

{% if has_past_loans %}
<div class="row">
  <div class="col-9">    
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col"><h5>Past Loans</h5></th>
          <th scope="col"><h6>Returned</h6></th>
        </tr>
      </thead>
      <tbody>
        {% for loan in loan_list_returned %}
        {% if loan.is_overdue %}
        <tr class="table-danger">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ loan.book_instance.book.title }}</td>
          <td>{{ loan.returned_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}